<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-page="/Golfer/Index">CA2GolfClub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" asp-area="" asp-page="/Golfer/Index">
                        Home
                        <span class="visually-hidden">(current)</span>
                    </a>
              
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Booking/Index">Booking</a>
                </li>
            </ul>
           
        </div>
    </div>
</nav>
